// $form-horizontal-padding: rhythm(.5);
$form-vertical-padding: rhythm(.5);
$form-height-textarea: rhythm(5);

fieldset {
	&>ul,
	&>ol {
		list-style-type: none;
	}
}

fieldset {
	fieldset {
		legend {
			@extend label;
		}
	}
}
label,
input,
select,
textarea {
	display: inline-block;
	@include adjust-font-size-to($base-font-size);
	@include box-sizing('border-box');
	border: 0;
	margin: 0;
	width: 100%;
}
textarea {
	height: $form-height-textarea;
}
input[type="radio"],
input[type="checkbox"] {
	width: auto;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline;
	+ label {
		width: auto;
	}
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
	@extend .button;
	width: auto;
}



// .inline {
// 	label {
// 		width: $inlineLabelWidth;
// 		margin-right: $negative-right-margin;
// 	}
// 	input,
// 	select,
// 	textarea {
// 		width: 100% - $inlineLabelWidth;
// 		margin-right: $negative-right-margin;
// 	}
// }