$form-prettyselect-dropdown-background: $white;
$form-prettyselect-dropdown-hover: $form-color-default;
$form-pretty-select-icon-selector: down-arrow;
$form-pretty-select-icon-selected: checkmark;
.position {
	@extend input;
	position: relative;
	&:after {
		content: '\00a0';
	}
}

.input {
	position: relative;
	@include vertical-rhythm(2, min-height);
}
ul.select {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	@extend input;
	padding: 0 !important;
	z-index: 1;
	&:before {
		@extend .icon-#{$form-pretty-select-icon-selector}:before;
		top: 0;
		right: 0;
		z-index: -1;
	}
	&:before,
	li {
		@include rhythm(0,$form-vertical-spacing,$form-vertical-spacing,0);
		@include column-padding();
		cursor: pointer;
	}
	li {
		display: none;
		color: $color-body;
		&.selected {
			display: block;
		}
		&:hover {
			color: $color-cta-secondary;
		}
		&.first {
			color: $color-body;
		}
	}
	&:before,
	&.open .selected:after {
		@extend .icon:before;
		display: inline-block;
		text-decoration: inherit;
		position: absolute;
	}
	&.open {
		z-index: 2;
		background-color: $form-prettyselect-dropdown-background;
		.selected {
			&:after {
				@extend .icon-#{$form-pretty-select-icon-selected}:before;
				left: -20px;
				@include column-padding();
			}
			&.first {
				&:after {
					content: '';
				}
			}
		}
		li:hover:not(.selected) {
			background-color: $form-prettyselect-dropdown-hover;
		}
	}
}