input,
select,
textarea {
	font-family: $font-family; // Need to override browser default behavior
	@if $roundedCorners {
		@include border-radius($corner-radius);
	}
	// @include box-shadow($inputShadowInset);
	border: 1px solid darken($white,10);
	&:hover,
	&:focus {
		outline: none;
		color: $color-cta-secondary;
	}
}
li:hover {
	.choices legend,
	>label:first-child {
		position: relative;
		background-color: $color-cta-secondary;
		color: $white;
		@include triangle($base-font-size, down, $color-cta-secondary, after );
		&:after {
			left: (0.5*$column-padding) - (0.25*$base-font-size);
		}
	}
	input,
	select,
	textarea {
		border-color: $color-cta-secondary;
	}
}

// http://css-tricks.com/webkit-html5-search-inputs/
input[type="search"] {
	@include font-size(16px);
	::-webkit-input-placeholder,
	:-moz-placeholder,
	::-moz-placeholder,
	:-ms-placeholder {
	    color: $color-theme;
		color: $color-body;  
		text-align: left;
		cursor: pointer;
		// letter-spacing: 4px;        
		text-shadow: 0 0 2px black;       
		word-spacing: 20px;               
	}
}

button,
input[type="submit"] {
	@extend .button;
}

input[type="radio"],
input[type="checkbox"] {
	padding: 0;
	vertical-align: baseline;
}
.form {
	label,
	input,
	select,
	textarea {
		@include vertical-rhythm($form-vertical-spacing, padding-top);
		@include vertical-rhythm($form-vertical-spacing, padding-bottom);
		@include column-padding();
		@include transition(color);
	}
	fieldset {
		.span {
			width: 100%;
		}
	}
	fieldset.choices {
		>legend {
			&+ul {
				@include vertical-rhythm($form-vertical-spacing, padding-top);
				@include vertical-rhythm($form-vertical-spacing, padding-bottom);
				@include column-padding();
				@include border-bottom-radius($corner-radius);
				border: 1px solid darken($white,10);
			}
		}
		li {
			padding-bottom: 0;
			position: relative;
			label {
				background-color: transparent;
			}
			input {
				position: absolute;
				&+label {
					padding-left: 1.3em;
					padding-right: 0;
				}
			}
			label,
			input {
				@include vertical-rhythm(1,height);
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		&.boolean {
			ul {
				@include vertical-rhythm(2.5,margin-top);
			}
			legend+ul {
				margin-top: 0;
			}
			li {
				display: inline-block;
				margin-right: 0.3em;
			}
		}
	}

	input[type="number"] {
		@include column(1/2);
		@include border-right-radius(0);
		border-right-color: $white !important;
		+label {
			@extend input;
			background-color: $white;
			@include column(1/2);
			@include border-radius(0);
			@include border-bottom-radius($corner-radius);
			@include border-left-radius(0);
			@include border-top-radius(0);
			margin-left: 3px;
			color: $color-body;
			border-left-color: $white !important;
			white-space: nowrap;
		}
	}

	label {
		@include border-top-radius($corner-radius);
		background-color: darken($white,10);
		&+textarea,
		&+input,
		&+select+input,
		&+select+.select,
		&+select+.input>.select {
			@include border-top-radius(0);
		}
	}
	fieldset {
		li {
			@include vertical-rhythm(1, padding-bottom);
		}
	}

	label+select {
		@include vertical-rhythm(0.5, margin-top);
	}	
}

label.invalid,
label.invalid:hover {
	background-color: $color-invalid !important;
	color: $white !important;
}
.invalid,
.invalid:hover {
	border-color: $color-invalid !important;
}
.invalid:after {
	border-top-color: $color-invalid !important;
}

.errors {
	@include vertical-rhythm(1, margin-top);
	@include vertical-rhythm(1, padding-top);
	@include vertical-rhythm(1, padding-bottom);
	@include border-radius($corner-radius);
	background-color: darken($white,10);
	.error-title {
		@include font-size($px-l);
		font-weight: $bold;
	}
	p {
		@include column-padding();
	}
	a {
		color: $color-invalid;
	}
	dt {
		@include column(1/4);
	}
	dd {
		@include column(3/4);
	}
}