@mixin ie6 { * html & { @content } }
 
#logo {
  background-image: url("/images/logo.png");
  @include ie6 { background-image: url("/images/logo.gif"); }
}

// Output:
// /* line 3, ../Framework/scss/test.scss */
// #logo {
//   background-image: url("/images/logo.png");
// }
// line 1, ../Framework/scss/test.scss
// * html #logo {
//   background-image: url("/images/logo.gif");
// }


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 479px) { @content; }
  }
  @else if $media == wide-handhelds {
    @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (min-width: 768px) and (max-width: 959px) { @content; }
  }
}
 
#sidebar {
  float: left;
  width: 300px;
  @include respond-to(handhelds) { float: none; }
  @include respond-to(wide-handhelds) { float: none; }
  @include respond-to(tablets) { width: 240px; }
}

// Output:
// /* line 31, ../Framework/scss/test.scss */
// #sidebar {
//   float: left;
//   width: 300px;
// }
// @media only screen and (max-width: 479px) {
//   /* line 31, ../Framework/scss/test.scss */
//   #sidebar {
//     float: none;
//   }
// }
// @media only screen and (min-width: 480px) and (max-width: 767px) {
//   /* line 31, ../Framework/scss/test.scss */
//   #sidebar {
//     float: none;
//   }
// }
// @media only screen and (min-width: 768px) and (max-width: 959px) {
//   /* line 31, ../Framework/scss/test.scss */
//   #sidebar {
//     width: 240px;
//   }
// }
;