html {
	font-family: 'Raleway', sans-serif;
}
h1 {
	font-size: $px-xl; 
	line-height: 2*$base-line-height;
	margin: 2*$base-line-height 0 $base-line-height;
	font-weight: 900;
}
h2 {
	font-size: $px-l; 
	line-height: $base-line-height;
	margin: .75*$base-line-height 0 .25*$base-line-height;
	font-weight: 700;
}
h3 {
	@extend h2;
	font-size: $px-l; 
	font-weight: 400;
}
h4 {
	font-weight: 700;
}
h5 {
	font-weight: 600;
}
h6 {
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	&:first-child {
		// margin-top: 0;
	}
}