h1 {
	@extend .heading-2;
}

h2 {
	@extend .heading-3;
}

header h1 {
	@extend .heading-1;
}

ul, ol {
	list-style-position: outside;
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}
