@mixin column($fraction: 1/3, $persistent: false) {
	@include column-behavior();
	@include column-width($fraction, $persistent);
	@include column-padding();
}

@mixin column-behavior($use-box-sizing: $use-box-sizing, $column-style: $column-style)
{
	@if $column-style == 'inline' {
		display: inline-block;
		@if $negative-right-margin != 0 {
			margin-right: $negative-right-margin !important;
		}
	}
	@if $column-style == 'float' {
		float: left;
		display: block;
	}
	@if $column-style == 'table' {
		float: left;
		display: table;
	}
	vertical-align: top;
	height: auto;
}

@mixin column-width($fraction: $base-column-width, $persistent: false) {
	@if $persistent {
		width: fractionPercentage($fraction) !important;
	}
	@else {
		width: fractionPercentage($fraction);
	}
	@if $column-style == 'inline' {
		@if $negative-right-margin != 0 {
			@if $fraction == 1/1 {
				margin-right: 0;
			}
		}
	}
}

@mixin parent-behavior()
{
	padding-left: 0;
	padding-right: 0;
}

@mixin move($fraction) {
	position: relative;
	left: fractionPercentage($fraction);
}

@mixin root() {
	display: block;
	margin: 0 auto;
	max-width: $container-max-width;
	@if $container-min-width {
		min-width: $container-min-width;
	}
}

@mixin column-padding($use-box-sizing: $use-box-sizing, $use-margin: false)
{
	@if ($use-margin) {
		margin-left: $column-padding / 2;
		margin-right: $column-padding / 2;
	}
	@else {
		padding-left: $column-padding / 2;
		padding-right: $column-padding / 2;
	}
	@if $use-box-sizing {
		@include box-sizing('border-box');
	}
}