<div class="toc">
  <h2>Content</h2>
  <ul class="list-stacked-navigation">

    <li class="level0">
      <a href="{{ site.baseurl }}/index.html">Start</a>
    </li>

    <!-- <li class="level0 parent">
      <a href="{{ site.baseurl }}/using-persistentgrid">Using Persistent Grid</a>
      <ul>
        <li class="level1"><a href="{{ site.baseurl }}/using-persistentgrid/anatomy-of-a-project">Anatomy of a Project</a></li>
        <li class="level1"><a href="{{ site.baseurl }}/using-persistentgrid/extending-persistentgrid">Extending Framework</a></li>
      </ul>
    </li> -->
    <!-- <li class="level0 parent">
      <a href="{{ site.baseurl }}/base/helpers">Helpers</a>
    </li> -->

    <li class="level0 parent">
      <a href="{{ site.baseurl }}/base/grid">Grid</a>
    </li>

    <li class="level0 parent">
      <a href="{{ site.baseurl }}/base">Base</a>
      <ul>
        <li class="level1"><a href="{{ site.baseurl }}/base/type">Typography</a></li>
        <li class="level1"><a href="{{ site.baseurl }}/base/baseline">Baseline</a></li>
        <li class="level1"><a href="{{ site.baseurl }}/base/reset">Reset</a></li>
        <li class="level1"><a href="{{ site.baseurl }}/base/baserules">Base Rules</a></li>
      </ul>
    </li>

    <li class="level0 parent">
      <a href="{{ site.baseurl }}/extended">Extended</a>
      <ul>
      <li class="level1"><a href="{{ site.baseurl }}/extended/forms">Forms</a></li>
      <li class="level1"><a href="{{ site.baseurl }}/extended/tables">Tables</a></li>
      <li class="level1"><a href="{{ site.baseurl }}/extended/lists">Lists</a></li>
      <li class="level1"><a href="{{ site.baseurl }}/extended/buttons">Buttons</a></li>
      <!-- <li class="level1"><a href="{{ site.baseurl }}/extended/ui">UI</a></li> -->
      </ul>
    </li>

    <!-- <li class="level0"><a href="{{ site.baseurl }}/glossary.html">Glossary</a></li> -->
    <li class="level0"><a href="{{ site.baseurl }}/glossary.html">Roadmap</a></li>
    <!-- <li class="level0"><a href="{{ site.baseurl }}/acknowledgements.html">Acknowledgements</a></li> -->
    <li class="level0"><a href="{{ site.baseurl }}/contributions.html">Contributions</a></li>

  </ul>
</div>