        <div class="root">
          <header class="site-header column" role="banner">
            <h1 class="site-header-title">
              <a href="{{ site.baseurl }}/">
                <img alt="" src="{{ site.baseurl }}/assets/images/persistentgrid.svg" width="38px">Persistent Grid 
              </a>
              <span class="site-header-subtitle">The flavourable grid. Stack to taste.</span>
            </h1>
          </header
          ><nav class="nav-main column" role="navigation" id="menu">
            <a href="#menu" title="Menu" class="menu-trigger"><icon class="icon-reorder"></a></a>
            <ul>
              <li><a href="{{ site.baseurl }}/"{% if page.layout == "homepage" %} class="is-nav-active"{% endif %}>Home</a></li>
              <li><a href="{{ site.baseurl }}/getting-started/"{% if page.section == "getting-started" %} class="is-nav-active"{% endif %}>Get Started</a></li>
              <li><a href="{{ site.baseurl }}/documentation/"{% if page.section == "documentation" %} class="is-nav-active"{% endif %}>Documentation</a></li>
              <li><a href="{{ site.baseurl }}/tutorials/"{% if page.section == "tutorials" %} class="is-nav-active"{% endif %}>Tutorials</a></li>
              <li><a href="{{ site.baseurl }}/blog/"{% if page.section == "blog" %} class="is-nav-active"{% endif %}>Blog</a></li>
            </ul>
          </nav>
        </div>

        {% if page.section == "documentation" %}
          <div class="bg-nav-sub">
            <div class="root">
              <nav class="nav-sub" id="sections">
                <ul>
                <li><a href="{{ site.baseurl }}/documentation/"{% if page.sub-section == "reference-manual" %} class="is-nav-active"{% endif %}>Reference Manual</a></li>
                <li><a href="{{ site.baseurl }}/documentation/installing-persistent-grid/"{% if page.sub-section == "installing-persistent-grid" %} class="is-nav-active"{% endif %}>Installing Persistent Grid</a></li>
                <li><a href="{{ site.baseurl }}/documentation/extending-persistent-grid/"{% if page.sub-section == "extending-persistent-grid" %} class="is-nav-active"{% endif %}>Extending Persistent Grid</a></li>
              </ul>
              </nav>
            </div>
          </div>
        {% endif %}