<body class="root">

  <a href="https://github.com/babsgosgens/persistentgrid"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  <div class="four-fifth __push-fifth column-container">

    <header class="page-header">
      <h1 class="page-header-header">
        Persistent Grid Framework
        <span class="page-header-sub">Reference Manual</span>
      </h1>

      <p>Please note that Persistent Grid is in still in alpha state.</p>
    </header>

    {{ content }}


  </div
  ><nav class="fifth column __pull-four-fifth">

    {% include navigation.html %}
    
  </nav>


  <!--script type="text/javascript">
  var i = 0;
  WebFontConfig = {
        //custom: { families: ['AccessibilityFoundicons'], urls: ['/PGFramework/Stylesheets/screen.css'] },
    google: { 
        families: [ 'Lato:100,300,400,700,900,300italic:latin' ]
        }
  };
  (function() {
    // Load WebFont
    var wf   = document.createElement('script');
    wf.src   = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/<?php echo $webfontVersion; ?>/webfont.js';
    wf.type  = 'text/javascript';
    wf.async = 'false';
    var s    = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wf, s);
    
    // Load jQuery
    var jq   = document.createElement('script');
    jq.src   = ('https:' == document.location.protocol ? 'https' : 'http') + '://code.jquery.com/jquery-<?php echo $jqueryVersion; ?>.min.js';
    jq.type  = 'text/javascript';
    jq.async = 'true';
    var s    = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wf, s);
  })();
  </script-->
</body>