<body class="root">

  <div class="four-fifth __push-fifth column-container">

    <header class="page-header">
      <h1 class="page-header-header">
        <img class="page-header-logo" src="{{ site.baseurl }}/assets/images/persistentgrid.png" width="79" height="79" alt="">Persistent Grid Framework
        <span class="page-header-sub">Reference Manual</span>
      </h1>

      <p>Please note that Persistent Grid is still in pre-alpha.</p>
      <p>And so is this manual.</p>
    </header>

    {{ content }}


  </div
  ><nav class="fifth column __pull-four-fifth">

    {% include navigation.html %}
    
  </nav>


  <script type="text/javascript">
  var i = 0;
  WebFontConfig = { google: { families: [ 'Lato:100,300,400,700,900,300italic:latin' ] } };
  (function() {
    var wf   = document.createElement('script');
    wf.src   = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/{{ site.webfontversion }}/webfont.js';
    wf.type  = 'text/javascript';
    wf.async = 'false';
    var s    = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wf, s);
  })();

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35733640-1']);
  _gaq.push(['_setDomainName', 'persistentgrid.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  <a href="https://github.com/babsgosgens/persistentgrid"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

</body>