<body>

  <div class="root">
    <div class="four-fifth column-container">

      <header class="page-header">
        <h1 class="page-header-header">
          <a href="{{ site.baseurl }}/"><img class="page-header-logo" src="{{ site.baseurl }}/assets/images/persistentgrid.png" width="79" height="79" alt=""></a>Persistent Grid Framework
          <span class="page-header-sub">Reference Manual</span>
        </h1>

        <p>Please note that Persistent Grid is still in pre-alpha.</p>
        <p>And so is this manual.</p>
      </header>

      {{ content }}


    </div
    ><nav class="fifth column">

      {% include navigation.html %}
      
    </nav>
  </div>

  <footer class="site-footer">
    <div class="root">
      <div class="four-fifth push-fifth column-container">
        <ul class="social-list column">
        <li><a href="https://twitter.com/persistentgrid" class="social-button" title="Follow Persistant Grid on Twitter"><i class="icon-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/persistentgrid" class="social-button" title="Follow Persistant Grid on Facebook"><i class="icon-facebook"></i></a></li>
        <li><a href="https://plus.google.com/u/0/100705163357487088597/posts" class="social-button" title="Follow Persistant Grid on Google Plus"><i class="icon-google-plus"></i></a></li>
        <li><a href="https://github.com/babsgosgens/persistentgrid" class="social-button" title="Follow Persistant Grid on Github"><i class="icon-github"></i></a></li>
      </ul>

    <p class="full column copyright">
      &copy; Copyright 2013 <a href="https://twitter.com/babsgosgens">Babs G&ouml;sgens</a>. All rights reserved. Persistent Grid&trade; is a trademark of <a href="http://crossinghippos.com">Crossing Hippos</a>.
    </p>

    </div>

    </div>
  </footer>

  <script type="text/javascript">
  var i = 0;
  WebFontConfig = { google: { families: [ 'Lato:100,300,400,700,900,300italic:latin' ] } };
  (function() {
    var wf   = document.createElement('script');
    wf.src   = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/{{ site.webfontversion }}/webfont.js';
    wf.type  = 'text/javascript';
    wf.async = 'false';
    var s    = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wf, s);
  })();

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35733640-1']);
  _gaq.push(['_setDomainName', 'persistentgrid.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  <a href="https://github.com/babsgosgens/persistentgrid"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

</body>