<ul>
<li><a href="{{ site.baseurl }}/documentation/grid/"{% if page.sub-section == "grid" %} class="is-nav-active"{% endif %}>Grid</a></li>
<li><a href="{{ site.baseurl }}/documentation/base/typography/"{% if page.sub-section == "base" %} class="is-nav-active"{% endif %}>Base</a></li>
<li><a href="{{ site.baseurl }}/documentation/modules/"{% if page.sub-section == "modules" %} class="is-nav-active"{% endif %}>Modules</a></li>
<li><a href="{{ site.baseurl }}/documentation/helpers/"{% if page.sub-section == "helpers" %} class="is-nav-active"{% endif %}>Helpers</a></li>
</ul>