// 	################################################################################################################################  //
// 	Buttons							  																								  //
// 	################################################################################################################################  //

	$button-background-color 				: $color-button;
	$button-text-color 						: $white;
	$button-background-gradient				: linear-gradient(lighten($button-background-color,5), darken($button-background-color,5));
	$button-border-width					: 1px;
	$button-border-style					: solid;
	$button-shadow							: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	$button-radius							: $corner-radius;
	$button-cursor							: pointer;
	$button-padding							: $column-padding / 2;

	$button-hover-background-color 			: darken($color-button, 10%);
	$button-hover-text-color 				: $button-text-color;
	$button-hover-background-gradient		: linear-gradient(lighten($button-hover-background-color,5),darken($button-hover-background-color,5));

	$button-theme-background-color 			: $color-theme;
	$button-theme-background-gradient		: linear-gradient(lighten($button-theme-background-color,5), darken($button-theme-background-color,3));;
	$button-theme-hover-background-color 	: darken($button-theme-background-color, 5%);
	$button-theme-hover-background-gradient	: linear-gradient(lighten($button-theme-hover-background-color,5),darken($button-theme-hover-background-color,3));

