/* line 3, ../../_framework/scss/test.scss */
#logo {
  background-image: url("/images/logo.png");
}
/* line 1, ../../_framework/scss/test.scss */
* html #logo {
  background-image: url("/images/logo.gif");
}

/* line 31, ../../_framework/scss/test.scss */
#sidebar {
  float: left;
  width: 300px;
}
@media only screen and (max-width: 479px) {
  /* line 31, ../../_framework/scss/test.scss */
  #sidebar {
    float: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 31, ../../_framework/scss/test.scss */
  #sidebar {
    float: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 31, ../../_framework/scss/test.scss */
  #sidebar {
    width: 240px;
  }
}
