/* http://persistent-grid.com
   v1.0 | 20130701
   License: none (public domain)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 27, ../Framework/sass/Reset/source/_behavior.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 116, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 56, ../Framework/sass/Reset/source/_behavior.scss */
ol,
ul {
  list-style: none;
}

/* line 62, ../Framework/sass/Reset/source/_behavior.scss */
blockquote, q {
  quotes: none;
}
/* line 103, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 68, ../Framework/sass/Reset/source/_behavior.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 74, ../Framework/sass/Reset/source/_behavior.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 81, ../Framework/sass/Reset/source/_behavior.scss */
input,
label {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
}

/* line 2, ../Framework/sass/Typography/source/_behavior.scss */
html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

/* line 61, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.71429em;
}

/* line 6, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.root {
  display: block;
  margin: 0 auto;
  max-width: 980px;
}

/* line 10, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.column {
  display: inline-block;
  vertical-align: top;
  height: auto;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
@media only screen and (max-width: 30em) {
  /* line 10, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .column {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 30em) {
  /* line 10, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .column {
    width: 100%;
  }
}

/* line 16, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.parent, .collection-of-fulls, .collection-of-halfs, .collection-of-fourths, .collection-of-thirds, .collection-of-two-thirds {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 30em) {
  /* line 16, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .parent, .collection-of-fulls, .collection-of-halfs, .collection-of-fourths, .collection-of-thirds, .collection-of-two-thirds {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 20, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.bleed {
  margin-left: -24px;
  margin-right: -24px;
}
@media only screen and (max-width: 30em) {
  /* line 20, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .bleed {
    margin-left: -12px;
    margin-right: -12px;
  }
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.full,
.collection-of-fulls > * {
  width: 100%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .full,
  .collection-of-fulls > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.full.persistent,
.collection-of-fulls.persistent > * {
  width: 100% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-full {
  position: relative;
  left: 100%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-full {
  position: relative;
  left: -100%;
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.half,
.collection-of-halfs > * {
  width: 50%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .half,
  .collection-of-halfs > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.half.persistent,
.collection-of-halfs.persistent > * {
  width: 50% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-half {
  position: relative;
  left: 50%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-half {
  position: relative;
  left: -50%;
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.fourth,
.collection-of-fourths > * {
  width: 25%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .fourth,
  .collection-of-fourths > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.fourth.persistent,
.collection-of-fourths.persistent > * {
  width: 25% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-fourth {
  position: relative;
  left: 25%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-fourth {
  position: relative;
  left: -25%;
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.third,
.collection-of-thirds > * {
  width: 33.33333%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .third,
  .collection-of-thirds > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.third.persistent,
.collection-of-thirds.persistent > * {
  width: 33.33333% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-third {
  position: relative;
  left: 33.33333%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-third {
  position: relative;
  left: -33.33333%;
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.two-third,
.collection-of-two-thirds > * {
  width: 66.66667%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .two-third,
  .collection-of-two-thirds > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.two-third.persistent,
.collection-of-two-thirds.persistent > * {
  width: 66.66667% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-two-third {
  position: relative;
  left: 66.66667%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-two-third {
  position: relative;
  left: -66.66667%;
}

@media only screen and (max-width: 30em) {
  /* line 55, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .root {
    min-width: auto;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .full,
  .collection-of-fulls > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-full,
  .pull-full {
    left: 0;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .half,
  .collection-of-halfs > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-half,
  .pull-half {
    left: 0;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .fourth,
  .collection-of-fourths > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-fourth,
  .pull-fourth {
    left: 0;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .third,
  .collection-of-thirds > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-third,
  .pull-third {
    left: 0;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .two-third,
  .collection-of-two-thirds > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-two-third,
  .pull-two-third {
    left: 0;
  }
}
/* line 24, ../Framework/sass/Forms/source/default/_behavior.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #efefef 1px 1px 2px 0, #efefef 1px 1px 0 0 inset;
  -moz-box-shadow: #efefef 1px 1px 2px 0, #efefef 1px 1px 0 0 inset;
  box-shadow: #efefef 1px 1px 2px 0, #efefef 1px 1px 0 0 inset;
}
