/* line 17, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 15, ../sass/_reset.scss */
html, body, figure {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 25, ../sass/_reset.scss */
html {
  line-height: 1.4;
}

/* line 24, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 30, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 35, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 41, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  vertical-align: middle;
}

/* line 30, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 47, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}

/* line 103, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 51, ../sass/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 57, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 116, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
/* line 62, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_persistent-grid.scss */
.root {
  display: block;
  margin: 0 20px;
}

/* line 9, ../sass/_persistent-grid.scss */
.col, [class*="collection"] > * {
  width: 33.333333%;
  display: inline-block;
  margin-right: -0.5em !important;
  vertical-align: top;
}

/* line 10, ../sass/_persistent-grid.scss */
.col.twelfth, [class*="collection"] > .twelfth, .collection-of-twelfths > * {
  width: 8.333333%;
}

/* line 11, ../sass/_persistent-grid.scss */
.col.sixth, [class*="collection"] > .sixth, .collection-of-sixths > * {
  width: 16.666667%;
}

/* line 12, ../sass/_persistent-grid.scss */
.col.fourth, [class*="collection"] > .fourth, .collection-of-fourths > * {
  width: 25%;
}

/* line 13, ../sass/_persistent-grid.scss */
.col.third, [class*="collection"] > .third, .collection-of-thirds > * {
  width: 33.333333%;
}

/* line 14, ../sass/_persistent-grid.scss */
.col.half, [class*="collection"] > .half, .collection-of-halfs > * {
  width: 50%;
}

/* line 15, ../sass/_persistent-grid.scss */
.col.twothird, [class*="collection"] > .twothird, .collection-of-twothirds > * {
  width: 66.666667%;
}

/* line 16, ../sass/_persistent-grid.scss */
.col.full, [class*="collection"] > .full, .collection-of-fulls > * {
  width: 100%;
}

@media screen and (max-width: 767px) {
  /* line 20, ../sass/_persistent-grid.scss */
  .col:not(.persistent), [class*="collection"] > :not(.persistent) {
    width: 100%;
  }

  /* line 21, ../sass/_persistent-grid.scss */
  .root {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 26, ../sass/_persistent-grid.scss */
  .col, [class*="collection"] > * {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1679px) {
  /* line 31, ../sass/_persistent-grid.scss */
  .col, [class*="collection"] > * {
    width: 25%;
  }
}
@media screen and (min-width: 1680px) {
  /* line 36, ../sass/_persistent-grid.scss */
  .col, [class*="collection"] > * {
    width: 16.666667%;
  }
}
@media screen and (min-width: 1360px) {
  /* line 41, ../sass/_persistent-grid.scss */
  .root {
    max-width: 1280px;
    margin: 0 auto;
  }
}
/* line 47, ../sass/_persistent-grid.scss */
.col, [class*="collection"] > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 52, ../sass/_persistent-grid.scss */
.col[class*="collection"], [class*="collection"] > [class*="collection"], .col.parent, [class*="collection"] > .parent {
  padding-left: 0;
  padding-right: 0;
  /* Experimental */
}
/* line 56, ../sass/_persistent-grid.scss */
.col[class*="collection"] > *:not(.col), [class*="collection"] > [class*="collection"] > *:not(.col), .col.parent > *:not(.col), [class*="collection"] > .parent > *:not(.col) {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 91, ../sass/_persistent-grid.scss */
.jump {
  margin-left: 33.333333%;
}

@media screen and (max-width: 767px) {
  /* line 95, ../sass/_persistent-grid.scss */
  .jump {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 100, ../sass/_persistent-grid.scss */
  .jump {
    margin-left: 50%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1679px) {
  /* line 105, ../sass/_persistent-grid.scss */
  .jump {
    margin-left: 25;
  }
}
@media screen and (min-width: 1680px) {
  /* line 110, ../sass/_persistent-grid.scss */
  .jump {
    margin-left: 16.666667%;
  }
}
/* line 114, ../sass/_persistent-grid.scss */
.push {
  position: relative;
  left: 33.333333%;
  float: left;
}

/* line 120, ../sass/_persistent-grid.scss */
.pull {
  position: relative;
  left: -33.33333%;
  float: left;
}

/* Demo */
/* line 2, ../sass/_styles.scss */
.col.demo, [class*="collection"] > .demo {
  padding-left: 0;
  padding-right: 0;
  border: 20px solid whitesmoke;
  border-width: 0 20px;
}
/* line 7, ../sass/_styles.scss */
.col.demo.parent, [class*="collection"] > .demo.parent {
  border: 0;
}
/* line 9, ../sass/_styles.scss */
.col.demo.parent .col, [class*="collection"] > .demo.parent .col, .col.demo.parent [class*="collection"] > *, [class*="collection"] > .demo.parent [class*="collection"] > * {
  background-color: GhostWhite;
}
/* line 11, ../sass/_styles.scss */
.col.demo.parent .col .col, [class*="collection"] > .demo.parent .col .col, .col.demo.parent [class*="collection"] > * .col, [class*="collection"] > .demo.parent [class*="collection"] > * .col, .col.demo.parent .col [class*="collection"] > *, [class*="collection"] > .demo.parent .col [class*="collection"] > *, .col.demo.parent [class*="collection"] > * [class*="collection"] > *, [class*="collection"] > .demo.parent [class*="collection"] > * [class*="collection"] > * {
  background-color: Ivory;
}
/* line 13, ../sass/_styles.scss */
.col.demo.parent .col .col .col, [class*="collection"] > .demo.parent .col .col .col, .col.demo.parent [class*="collection"] > * .col .col, [class*="collection"] > .demo.parent [class*="collection"] > * .col .col, .col.demo.parent .col [class*="collection"] > * .col, [class*="collection"] > .demo.parent .col [class*="collection"] > * .col, .col.demo.parent [class*="collection"] > * [class*="collection"] > * .col, [class*="collection"] > .demo.parent [class*="collection"] > * [class*="collection"] > * .col, .col.demo.parent .col .col [class*="collection"] > *, [class*="collection"] > .demo.parent .col .col [class*="collection"] > *, .col.demo.parent [class*="collection"] > * .col [class*="collection"] > *, [class*="collection"] > .demo.parent [class*="collection"] > * .col [class*="collection"] > *, .col.demo.parent .col [class*="collection"] > * [class*="collection"] > *, [class*="collection"] > .demo.parent .col [class*="collection"] > * [class*="collection"] > *, .col.demo.parent [class*="collection"] > * [class*="collection"] > * [class*="collection"] > *, [class*="collection"] > .demo.parent [class*="collection"] > * [class*="collection"] > * [class*="collection"] > * {
  background-color: HoneyDew;
}

/* line 21, ../sass/_styles.scss */
body {
  font-family: 'Source Code Pro', sans-serif;
}

/* Cosmetic styles */
/* line 30, ../sass/_styles.scss */
header {
  background-color: #fff;
}
/* line 32, ../sass/_styles.scss */
header .container {
  background: transparent url(../images/persistent-grid.png) no-repeat 0 bottom;
  padding: 20px 0;
}
/* line 36, ../sass/_styles.scss */
header h1 {
  color: #fcb913;
  font-size: 3em;
  font-size: 3rem;
  margin-bottom: 0;
}
/* line 42, ../sass/_styles.scss */
header p {
  font-size: 1.2em;
  font-size: 1.2rem;
}

/* line 48, ../sass/_styles.scss */
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;
}

/* line 55, ../sass/_styles.scss */
th,
thead td {
  background-color: #fcb913;
}

/* line 58, ../sass/_styles.scss */
thead th {
  text-align: right;
}

/* line 61, ../sass/_styles.scss */
tbody th {
  text-align: left;
}

/* line 64, ../sass/_styles.scss */
th {
  font-size: 90%;
}

/* line 67, ../sass/_styles.scss */
th, td {
  padding: 5px;
  border-bottom: 1px solid LightGrey;
}

/* line 72, ../sass/_styles.scss */
thead th:nth-of-type(even),
td:nth-of-type(odd) {
  background-color: #fdc845;
}

/* line 75, ../sass/_styles.scss */
tbody td {
  text-align: right;
  padding: 0 1%;
}

/* line 79, ../sass/_styles.scss */
ul {
  padding: 0;
}
