/* http://persistent-grid.com
   v1.0 | 20130701
   License: none (public domain)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 27, ../Framework/sass/Reset/source/_behavior.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 116, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 56, ../Framework/sass/Reset/source/_behavior.scss */
ol,
ul {
  list-style: none;
}

/* line 62, ../Framework/sass/Reset/source/_behavior.scss */
blockquote, q {
  quotes: none;
}
/* line 103, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* line 68, ../Framework/sass/Reset/source/_behavior.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 74, ../Framework/sass/Reset/source/_behavior.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 81, ../Framework/sass/Reset/source/_behavior.scss */
input,
label {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
}

/* line 2, ../Framework/sass/Typography/source/_behavior.scss */
html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

/* line 61, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.71429em;
}

/* line 1, ../Framework/sass/Base/source/_behavior.scss */
a {
  color: violet;
}

/* line 14, ../Framework/sass/Base/source/_behavior.scss */
.is-a-hover, a:hover {
  color: purple;
}

/* line 17, ../Framework/sass/Base/source/_behavior.scss */
.is-a-active, a:active {
  color: #404040;
}

/* line 20, ../Framework/sass/Base/source/_behavior.scss */
.is-a-visited, a:visited {
  color: #f7c5f7;
}

/* line 24, ../Framework/sass/Base/source/_behavior.scss */
p {
  margin: 0.85714em 0;
}

/* line 6, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.root {
  display: block;
  margin: 0 auto;
  max-width: 980px;
}

/* line 10, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.column {
  display: inline-block;
  vertical-align: top;
  height: auto;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
@media only screen and (max-width: 30em) {
  /* line 10, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .column {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 30em) {
  /* line 10, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .column {
    width: 100%;
  }
}

/* line 16, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.parent, .collection-of-fulls, .collection-of-halfs, .collection-of-fourths, .collection-of-thirds, .collection-of-two-thirds {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 30em) {
  /* line 16, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .parent, .collection-of-fulls, .collection-of-halfs, .collection-of-fourths, .collection-of-thirds, .collection-of-two-thirds {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 20, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.bleed {
  margin-left: -24px;
  margin-right: -24px;
}
@media only screen and (max-width: 30em) {
  /* line 20, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .bleed {
    margin-left: -12px;
    margin-right: -12px;
  }
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.full,
.collection-of-fulls > * {
  width: 100%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .full,
  .collection-of-fulls > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.full.persistent,
.collection-of-fulls.persistent > * {
  width: 100% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-full {
  position: relative;
  left: 100%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-full {
  position: relative;
  left: -100%;
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.half,
.collection-of-halfs > * {
  width: 50%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .half,
  .collection-of-halfs > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.half.persistent,
.collection-of-halfs.persistent > * {
  width: 50% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-half {
  position: relative;
  left: 50%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-half {
  position: relative;
  left: -50%;
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.fourth,
.collection-of-fourths > * {
  width: 25%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .fourth,
  .collection-of-fourths > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.fourth.persistent,
.collection-of-fourths.persistent > * {
  width: 25% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-fourth {
  position: relative;
  left: 25%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-fourth {
  position: relative;
  left: -25%;
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.third,
.collection-of-thirds > * {
  width: 33.33333%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .third,
  .collection-of-thirds > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.third.persistent,
.collection-of-thirds.persistent > * {
  width: 33.33333% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-third {
  position: relative;
  left: 33.33333%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-third {
  position: relative;
  left: -33.33333%;
}

/* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.two-third,
.collection-of-two-thirds > * {
  width: 66.66667%;
}
@media only screen and (max-width: 30em) {
  /* line 29, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .two-third,
  .collection-of-two-thirds > * {
    width: 100%;
  }
}

/* line 34, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.two-third.persistent,
.collection-of-two-thirds.persistent > * {
  width: 66.66667% !important;
}

/* line 41, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.push-two-third {
  position: relative;
  left: 66.66667%;
}

/* line 45, ../Framework/sass/PersistentGrid/source/_behavior.scss */
.pull-two-third {
  position: relative;
  left: -66.66667%;
}

@media only screen and (max-width: 30em) {
  /* line 55, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .root {
    min-width: auto;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .full,
  .collection-of-fulls > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-full,
  .pull-full {
    left: 0;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .half,
  .collection-of-halfs > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-half,
  .pull-half {
    left: 0;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .fourth,
  .collection-of-fourths > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-fourth,
  .pull-fourth {
    left: 0;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .third,
  .collection-of-thirds > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-third,
  .pull-third {
    left: 0;
  }

  /* line 62, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .two-third,
  .collection-of-two-thirds > * {
    width: 100%;
  }

  /* line 67, ../Framework/sass/PersistentGrid/source/_behavior.scss */
  .push-two-third,
  .pull-two-third {
    left: 0;
  }
}
/* line 23, ../Framework/sass/Forms/source/default/_behavior.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #efefef 1px 1px 0 0 inset;
  -moz-box-shadow: #efefef 1px 1px 0 0 inset;
  box-shadow: #efefef 1px 1px 0 0 inset;
}

/* line 8, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn {
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px outset #666666;
  margin-top: -1px;
  margin-bottom: -1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #666666;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #737373), color-stop(100%, #595959));
  background-image: -webkit-linear-gradient(#737373, #595959);
  background-image: -moz-linear-gradient(#737373, #595959);
  background-image: -o-linear-gradient(#737373, #595959);
  background-image: linear-gradient(#737373, #595959);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 30em) {
  /* line 8, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
  .btn {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* line 62, ../Framework/sass/UI/Buttons/source/_mixins.scss */
.btn:visited {
  color: white;
}

/* line 28, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn-primary {
  border-color: violet;
  background: violet;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f198f1), color-stop(100%, #eb6ceb));
  background-image: -webkit-linear-gradient(#f198f1, #eb6ceb);
  background-image: -moz-linear-gradient(#f198f1, #eb6ceb);
  background-image: -o-linear-gradient(#f198f1, #eb6ceb);
  background-image: linear-gradient(#f198f1, #eb6ceb);
}

/* line 31, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn-secondary {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-color: orange;
  background: orange;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffae1a), color-stop(100%, #e69500));
  background-image: -webkit-linear-gradient(#ffae1a, #e69500);
  background-image: -moz-linear-gradient(#ffae1a, #e69500);
  background-image: -o-linear-gradient(#ffae1a, #e69500);
  background-image: linear-gradient(#ffae1a, #e69500);
  -webkit-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  -moz-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
}

/* line 34, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn-info {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-color: yellow;
  background: yellow;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffff1a), color-stop(100%, #e5e600));
  background-image: -webkit-linear-gradient(#ffff1a, #e5e600);
  background-image: -moz-linear-gradient(#ffff1a, #e5e600);
  background-image: -o-linear-gradient(#ffff1a, #e5e600);
  background-image: linear-gradient(#ffff1a, #e5e600);
  -webkit-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  -moz-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
}

/* line 37, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn-warning {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-color: orange;
  background: orange;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffae1a), color-stop(100%, #e69500));
  background-image: -webkit-linear-gradient(#ffae1a, #e69500);
  background-image: -moz-linear-gradient(#ffae1a, #e69500);
  background-image: -o-linear-gradient(#ffae1a, #e69500);
  background-image: linear-gradient(#ffae1a, #e69500);
  -webkit-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  -moz-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
}

/* line 40, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn-error {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-color: red;
  background: red;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff1a1a), color-stop(100%, #e60000));
  background-image: -webkit-linear-gradient(#ff1a1a, #e60000);
  background-image: -moz-linear-gradient(#ff1a1a, #e60000);
  background-image: -o-linear-gradient(#ff1a1a, #e60000);
  background-image: linear-gradient(#ff1a1a, #e60000);
  -webkit-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  -moz-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
}

/* line 43, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn-success {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-color: green;
  background: green;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009a00), color-stop(100%, #006700));
  background-image: -webkit-linear-gradient(#009a00, #006700);
  background-image: -moz-linear-gradient(#009a00, #006700);
  background-image: -o-linear-gradient(#009a00, #006700);
  background-image: linear-gradient(#009a00, #006700);
  -webkit-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  -moz-box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
  box-shadow: false, -1px -1px 0 rgba(0, 0, 0, 0.3), false;
}

/* line 48, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.is-btn-hover, .btn:hover {
  border-color: purple;
  background: purple;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a0099), color-stop(100%, #670066));
  background-image: -webkit-linear-gradient(#9a0099, #670066);
  background-image: -moz-linear-gradient(#9a0099, #670066);
  background-image: -o-linear-gradient(#9a0099, #670066);
  background-image: linear-gradient(#9a0099, #670066);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}

/* line 51, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.is-btn-active, .btn:active {
  border-style: inset;
  border-color: #404040;
  background: #404040;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #4d4d4d));
  background-image: -webkit-linear-gradient(#333333, #4d4d4d);
  background-image: -moz-linear-gradient(#333333, #4d4d4d);
  background-image: -o-linear-gradient(#333333, #4d4d4d);
  background-image: linear-gradient(#333333, #4d4d4d);
}

/* line 55, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn-small {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 59, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn-big {
  font-size: 1.42857em;
  line-height: 1.8em;
}

/* line 62, ../Framework/sass/UI/Buttons/source/pg/_behavior.scss */
.btn-stretch {
  width: 100%;
}
