	
//	################################################################################################################################  //
//	Shared Variables				  																								  //
//	################################################################################################################################  //

	// Corner radius is inherited by:
	// * Buttons
	// * Forms							  																							  	  //

	$corner-radius						: 3px;


	// Colors need to be specified before importing the module settings that are inheriting them.					  																							  	  //

	$white								: #fff;
	$black								: #000;
	$grey 								: #666;
	$red 								: Red;
	$orange 							: Orange;
	$yellow 							: Yellow;
	$green 								: Green;
	$blue 								: Blue;
	$purple 							: Purple;
	$violet 							: Violet;

	$color-background					: $white;
	$color-body							: lighten($black,40);
	$color-theme						: $grey;
	$color-primary						: $violet;
	$color-secondary					: $orange;
	$color-success 						: $green;
	$color-info 						: $yellow;
	$color-warning						: $orange;
	$color-error						: $red;

	$link-color							: $color-primary;
	$link-color-hover					: $color-theme;
	$link-color-active					: $color-secondary;
	$link-color-visited					: $color-theme;


//	################################################################################################################################  //
//	Import presets				  																								  //
//	################################################################################################################################  //

	// First, import all individual settings. The order in which they are imported matters, because there are dependencies.
	@import "Reset/source/settings";
	@import "Typography/source/settings";
	@import "VerticalRhythm/source/settings";
	@import "PersistentGrid/source/settings";
	@import "UI/Buttons/source/settings";
	@import "UI/Accordion/source/settings";
	@import "UI/Tabs/source/settings";
	@import "Forms/source/settings";
	@import "Tables/source/settings";

