html {
	background-color: $white;
}
a {
	color: $link-color;
	&:hover {
		@extend .is-a-hover;
	}
	&:active {
		@extend .is-a-active;
	}
	&:visited {
		@extend .is-a-visited;
	}
}

.is-a-hover {
	color: $link-color-hover;
}
.is-a-active {
	color: $link-color-active;
}
.is-a-visited {
	color: $link-color-visited;
}

h1 {
	margin: rhythm(1.5) 0 rhythm(.5);
	@include type-weight($type-light);
	@include adjust-font-size-to($px-xxl);
}
h2 {
	margin: rhythm(.5) 0 rhythm(.25);
	@include type-weight($type-medium);
	@include adjust-font-size-to($px-xl);
	color: $color-theme;
}
h3 {
	margin: rhythm(1) 0 0;
	@include type-weight($type-medium);
	@include adjust-font-size-to($px-l);
	color: $color-primary;
}
h4 {
	margin: rhythm(.5) 0 0;
	@include adjust-font-size-to($px-l);
}
h5 {
	margin: rhythm(.5) 0 0;
	@include type-weight($type-medium);
}
h6 {
	margin: rhythm(.25) 0 0;
	@include type-weight($type-bold);
	@include adjust-font-size-to($px-xs);
}
h5,
h6 {
	&+p {
		margin-top: 0;
	}

}
p {
	margin: rhythm(.5) 0;
}
