//	################################################################################################################################  //
//	Compass Reset					  																								  //
//	################################################################################################################################  //

	$global-reset 						: false;

	// or

	$reset-box-model 					: true;
	$reset-box-sizing 	 				: true; // Resets box sizing to border-box - for use with Persistent Grid
	$reset-font  						: true;
	$reset-focus  						: false;
	$reset-body 						: false;
	$reset-list-style 					: false;
	$reset-table 						: true;
	$reset-table-cell 					: true;
	$reset-quotation 					: true;
	$reset-image-anchor-border 			: true;
	$reset-html5 						: true;

	$reset-text-rendering 				: false;
